.hero{
    padding-top:var(--size-1000) ; 
}
.hero_txt_header{
    height: max-content;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

@media(min-width:768px){
    .hero{
        height: fit-content;
        max-width: 1280px;
    }
}

@media(min-width: 1024px){
    .hero{
        margin-top: 30px;
    }
    .hero_txt_header{
        width: 100%;
        max-width: 100%;
        text-align: left;
    }
}


.hero_txt_header{
    padding-top: var(--size-500);
    padding-bottom: var(--size-500);
}
.hero_txt_header >*{
    font-weight: var(--fw-bold);
    font-size: var(--fs-750);
    letter-spacing: 1px;
    line-height: var(--size-650);
}

.hero_txt_description{
    padding: var(--size-300);
    font-weight: var(--fw-regular);
    font-size: var(--fs-600);
    line-height: var(--size-500);
}

.hero_images{
    grid-area: hero_images;   
}
.hero_image_container{
    position: relative;
    width: auto;
    height: fit-content;
    width: 100%;
    max-width: 404px;
    min-height: 380px;
    margin: 0 auto;
}

@media(min-width:320px){
    .hero_image_container{
        height: 406px;
    }
}
@media(min-width:425px){
    .hero_image_container{
        height: 538px;
    }
}

@media (min-width: 800px){
    .hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:'hero_txt_header hero_images'
                            'hero_txt_description hero_images' ;
    }
    .hero_txt_header{
        grid-area: hero_txt_header;
        font-weight: var(--fw-bold);
        font-size: var(--fs-900);
        letter-spacing: 1px;
        line-height: var(--size-750);
    }
    .hero_txt_description{
        grid-area: hero_txt_description;    
        font-size: var(--fs-50);
        padding-right: var(--size-800);
        line-height: -1;
    }

    .hero_images{
        height: 100%;
    }    
  }


@media (min-width: 1023px) {
    .hero{ 
        grid-template-columns:  1fr .8fr;
        padding-top: var(--size-900);
    }
    .hero_txt_header {
        position: relative;

    }
    .hero_txt_header > h2{
        font-weight: var(--fw-bold);
        font-size: var(--fs-800);
        line-height: var(--size-700);
    }

    .hero_txt_description{
        padding: var(--size-300);
        font-weight: var(--fw-regular);
        font-size: var(--fs-600);
        line-height: var(--size-600);
    }
}

@media (min-width: 1366px) {

    .hero_txt_header >h2{
        font-weight: var(--fw-bold);
        font-size: var(--fs-900);
        letter-spacing: 2px;
        line-height: var(--size-750);
    } 
}


