

@media(min-width:768px){
    .hero{
        /* margin-top: 102px; */
        /* border: 1px solid red;  */
        height: fit-content;
        max-width: 1280px;
        padding-top:var(--size-900) ; 
    }
    .hero > * > *{
        /* border: 1px solid red; */
    }
    .hero_txt_header{
        /* border: 1px solid red; */
        height: max-content;
        /* min-height: 300px; */
    }
}


.hero_txt_header{
    /* margin-top: var(--size-700); */
    /* padding-top: var(--size-700); */
    padding-top: var(--size-500);
    padding-bottom: var(--size-500);
}
.hero_txt_header >*{
    font-weight: var(--fw-bold);
    font-size: var(--fs-750);
    letter-spacing: 1px;
    line-height: var(--size-650);
}

.hero_txt_description{
    padding: var(--size-300);
    font-weight: var(--fw-regular);
    font-size: var(--fs-600);
    line-height: var(--size-500);
}

.hero_images{
    /* border: 1px solid red; */
    grid-area: hero_images;
    /* position: relative; */
    /* height: 100%; */
    /* height: 300px; */
}
.hero_image_container{
    /* border: 1px solid red; */
    position: relative;
    width: auto;
    /* min-height: 500px; */
    height: 100%;
    min-height: 500px;
    width: 100%;
}




/* .hero_image_container:first-child > img{
    scale: .75;
    position: relative;
    margin-left: -60px;    
    margin-top: 20px;
    float: left;
}
.hero_image_container:nth-child(2) > img{
    scale: .75;
    position: relative;
    margin-top: -15px;
    margin-left: 75px;
}

.hero_image_container:nth-child(3) > img{
    margin-left: -10px;
    scale: .95;
} */

@media (min-width: 800px){
    .hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:'hero_txt_header hero_images'
                            'hero_txt_description hero_images' ;
        
    }
    .hero_txt_header{
        grid-area: hero_txt_header;
    
        font-weight: var(--fw-bold);
        font-size: var(--fs-900);
        letter-spacing: 1px;
        line-height: var(--size-750);
    }
    .hero_txt_description{
        grid-area: hero_txt_description;    
        font-size: var(--fs-50);
        padding-right: var(--size-800);
        line-height: -1;
    }

    .hero_images{

        height: 100%;
        /* position: relative; */
        /* top: 50%;         */
        /* transform: translate(0, -50%); */
    }

    /* .hero_image_container {
        height: 100%;
        scale: .9;
    } */


    /* .hero_image_container > img{
        object-fit: contain;
    }

    .hero_image_container:first-child > img{
        scale: .75;
    }
    .hero_image_container:nth-child(2) > img{
        scale: .75;
    }
    
    .hero_image_container:nth-child(3) > img{
        scale: 1;
    } */
    
  }


@media (min-width: 1023px) {
.hero{ 
    /* height: 70vh; */
    grid-template-columns:  1fr .8fr;
    padding-top: var(--size-900);
    /* margin-top: var(--size-1000); */

}
.hero_txt_header {
    position: relative;

}
.hero_txt_header > h2{
    /* position: absolute; */
    /* bottom: 0; */
    font-weight: var(--fw-bold);
    font-size: var(--fs-700);
    line-height: var(--size-700);
}

.hero_txt_description{
    padding: var(--size-300);
    font-weight: var(--fw-regular);
    font-size: var(--fs-600);
    line-height: var(--size-600);
}

/* .hero_image_container:first-child > img{
    margin-left: -80px;
}
.hero_image_container:nth-child(2) > img{
    margin-left: 120px;
    margin-top: -45px;
}

.hero_image_container:nth-child(3) > img{
    scale: .8;
} */

}

@media (min-width: 1366px) {
    .hero{ 
        /* height: 90vh; */
        padding-top: var(--size-1000);

    }
    .hero_txt_header >h2{
        font-weight: var(--fw-bold);
        font-size: var(--fs-900);
        letter-spacing: 2px;
        line-height: var(--size-750);
    } 
}


