@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
:root{  

  --clr-primary-100: hsl(135, 25%, 68%);
   --clr-primary-400: hsl(135, 68%, 60%);
   --clr-primary-600: hsl(135, 31%, 44%);
  --clr-neutral-100: hsl(0, 0%, 94%); 
  --clr-neutral-300: hsl(0, 0%, 89%);
  --clr-neutral-800: hsl(120, 1%, 28%);
  --clr-neutral-800_a_50: hsla(120, 1%, 28%, 0.5);
  --clr-neutral-900: hsl(232, 12%, 13%);

  --ff-primary: 'Inter', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --fw-regular: 400:;
  --fw-semi-bold: 500;
  --fw-bold: 700;  

  --letter-spacing-200: 0.125rem;
  --letter-spacing-250: 0.25rem;
  --letter-spacing-300: 0.5rem;
  --letter-spacing-400: 1rem;


  --fs-200: 0.6125rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-650: 1.125rem;
  --fs-675: 1.50rem;
  --fs-700: 1.875rem;
  --fs-750: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;
  --fs-1000: 3.2rem;
  
  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);


  --size-000: 0rem;
  --size-100: 0.25rem;
  --size-nagative-100: -0.25rem;
  --size-200: 0.5rem;
  --size-nagative-200: -0.5rem;
  --size-300: 0.75rem;
  --size-nagative-300: -0.75rem;
  --size-400: 1rem;
  --size-nagative-400: -1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-650: 2.45rem;
  --size-700: 3rem;
  --size-750: 3.5rem;
  --size-800: 4rem;
  --size-900: 5rem;
  --size-1000: 8rem;
  --size-1100: 9rem;

  --size-1400: 14rem;
}


@media (min-width: 47em) {
  :root{
    --fs-body: var(--fs-600);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
  
}

/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, 
body {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-neutral-800);
}

.container{
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-49%, 0%);
  width: 95%;
  max-width: 1920px;
}

.h-center{
  position: relative;
  left: 50%;
  transform: translateX(-50%)
}

.v-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.sticky {
  position: sticky;
  top: 0;
  animation-name: grow-100;
  animation: slideDown 0.2s ease-out;
}

.relative{
  position: relative;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.fixed{
  position: fixed;
}

.round_10{
  border-radius: 10px;
}

.buttom{
  position: absolute;
  bottom: 0;
}

.txt-center{
  text-align: center;
}

.capitalize{
  text-transform: capitalize;
}
.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}

.dv-center{
  margin: 0 auto;
}

.mx-h-100{
  max-height: 100px;
}
.mx-h-50{
  max-height: 50px;
}

.mx-h-40{
  max-height: 40px;
}

.mx-h-30{
  max-height: 30px;
}

.mx-w-100{
  max-height: 100px;
}

.mr-top-0{
  margin-top: 0px;
}
.mr-bottom-0{
  margin-bottom: 0px;
}

.mr-top-12{
  margin-top: 12px;
}
.mr-bottom-12{
  margin-bottom: 12px;
}


.scale-100{
  scale: 1
}

.scale-d-10{
  scale: 0.9
}
.scale-d-20{
  scale: 0.8
}

.scale-d-30{
  scale: 0.7
}

.scale-d-40{
  scale: 0.6
}
.max-w-50{
  scale: 0.5;
}

.f-bold{
  font-weight: var(--fw-bold);
}
.f-semi-bold{
  font-weight: var(--fw-semi-bold);
}



/* Shrink Animation */
.grow-100 {
  animation-name: grow-100;
}

@keyframes grow-100 {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}


/* Shrink Animation */
.shrink-50 {
  animation-name: shrink-50;
}

@keyframes shrink-50 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.5);
  }
}

.h-1{
  height: 1px;
}
.w-50{
  width: 50%;  
}
.w-60{
  width: 60%;  
}
.w-70{
  width: 70%;  
}
.w-100{
  width: 100%;  
}

.hr-bar{
  min-height: 1px;
  background: rgb(142, 142, 142);
  margin-top: var(--size-200);
  margin-bottom: var(--size-300);
}

.btn{
  padding: var(--size-200) var(--size-500);
  border-radius: 5px; 
  border: transparent;
  background: var(--clr-primary-600);
  color: aliceblue;
  font-weight: var(--fw-semi-bold);
  letter-spacing: var(--letter-spacing-200);
}

.display-none{
  display: none;
}