.container{
    /* border: 1px solid red; */
    min-height: 65vh;

    width: 100%;
    /* background: url("/images/research-background.jpg"), rgba(29, 29, 29, 0.85); */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /* margin-top: 100px; */
    /* background-size: 100% 100%; */
    background-position: center;
    padding-top: var(--size-700);
}
.title{
    /* color: white; */
    text-align: center;
    font-size: var(--fs-700);
    letter-spacing: var(--letter-spacing-200) ;
    font-weight: var(--fw-semi-bold);
}

@media screen and (min-width: 768px) {
    .title{
        font-size: var(--fs-750);
        letter-spacing: var(--letter-spacing-250) ;
    }
  }

@media screen and (min-width: 1024px) {
    .title{
        font-size: var(--fs-750);
        letter-spacing: var(--letter-spacing-300) ;
    }
  }

@media screen and (min-width: 1440px) {
.title{
    font-size: var(--fs-800);
    letter-spacing: var(--letter-spacing-300) ;
}
}
/* .title{
    color: aliceblue;
    text-align: center;
    font-size: var(--fs-900);
    letter-spacing: var(--letter-spacing-300) ;
    font-weight: var(--fw-semi-bold);
} */

.research_papers{
    /* border: 1px solid red; */
    height: 100%;
    /* min-height: 500px; */
    display: flex;
    padding: var(--size-700);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.research_paper_item{
    transition: transform 0.5s ease-in-out;
}

.research_paper_item:hover{
    transform: scale(1.2);
}

.thumbnail_wrapper{
    position: relative;
    height: 300px;
    width: 300px;
}

.thumbnail_wrapper > a > img{
    border-radius: 5px;
}
.blank_div{
    background: gray;
    height: 300px;
    width: 300px;
}

.thumbnail_wrapper > a{
    text-decoration: none;
    color: black;


}

.alternative_title{
    /* color: black; */
    font-size: var(--fs-675);
    font-weight: var(--fw-semi-bold);
    text-align: center;
    /* border: 1px solid red; */
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}