.navbar{
    width: 100%;
    float: right;
    margin-left: auto;
    z-index: 2;
}
.menu_btn{
    margin-right: var(--size-500);
    float: right;
}

.navlist{
    display: none;
    list-style-type: none;
    /* overflow: hidden; */
    position: absolute;
    right: var(--size-500);
    top: var(--size-750);
    min-width: 200px;
    border-radius: 5px;
}

.navlist > li {
    display: block;
    text-align:right;
    padding: var(--size-200) var(--size-500);
    z-index: 999;
    background: white;  
    position: relative;  
}
.navlist > li > a{
    display: inline;
    color: #666;
    text-align: center;
    padding: var(--size-100) var(--size-100);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: var(--fs-300);
}

@media (min-width: 425px) {
    .navlist > li > a{
        padding: var(--size-300) var(--size-500);
    }
}
@media (min-width: 670px) {
    .menu_btn{
        margin-right: var(--size-600);
    }
}

@media (min-width: 768px) {
    .menu_btn{
        display: none;
    }
    .navlist{
        position: relative;
        list-style-type: none;
        /* overflow: hidden; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: none;
        right: var(--size-000);
        top: var(--size-000);
        padding: var(--size-300) var(--size-300);
        gap: var(--size-600);
    }
    .navlist > li {
        padding: var(--size-000) var(--size-000);
        
    }
    .navlist > li > a{
        padding: var(--size-300) var(--size-400);
        letter-spacing: 2px;
    }
    .navlist >li > a:hover:not(.active) {
        background-color: var(--clr-primary-100);
        color: white;
        border-bottom:3px solid var(--clr-primary-100);
        border-radius: 3px 3px 0px 0px;
    }
    .navlist > li > a.active {    
        border-bottom: 2px solid var(--clr-primary-600);
        font-weight: var(--fw-bold);
        color: var(--clr-primary-600);
    }
}

@media (min-width: 1024px) {
    .navlist{
        gap: var(--size-700);
    }
    .navlist > li > a{
        letter-spacing: 3px;
        font-size: var(--fs-600);
    }
}


@media (min-width: 1440px) {
    .navlist{
        gap: var(--size-900);
        padding: var(--size-000) var(--size-500);
    }
    .navlist > li > a{
        display: block;
        padding: var(--size-300) var(--size-500);
        letter-spacing: 3px;
        font-size: var(--fs-650);
    }
    .navlist > li > a.active {    
        border-bottom: 2px solid var(--clr-primary-600);
        font-weight: var(--fw-bold);
        color: var(--clr-primary-600);
    }
}
  .hr_bar{
    float: right;
    width: 90%;
    height: 1px;
    background: var(--clr-neutral-800);
    opacity: .3;
    margin-right: var(--size-500);
  }

  .navlist > .nav_item > .nav_menu{
    /* border: 1px solid red; */
    position: absolute;
    width: max-content;
    /* min-width: 250px; */
    height: max-content;
    /* min-height: 500px; */
    background: white;
    /* left: 0; */
    display: none;
    top: 30;
    z-index: 999;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 0 0 3px 3px;
    /* overflow: hidden; */
  }
.nav_item:hover > .nav_menu{display: block;}

  .navlist > .nav_item > .nav_menu > li{
    text-decoration: none;
    padding: 12px 40px;
    font-size: var(--fs-650);
    position: relative;
  }

  .navlist > .nav_item > .nav_menu > li:hover{
    background: var(--clr-primary-100);
    color: white;
  }
.description  .navlist > .nav_item > .nav_menu > li:last-child:hover{
    border-radius: 0 0 3px 3px;
  }

.nav_sub_menu > .description{
    position: absolute;
    right: 100%;
    top: 0;
    /* border: 1px solid red; */
    background: white;
    width: 55vw;
    color: black;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    min-height: 80vh;
    display: none;
    background: rgb(249, 249, 249)
}
.nav_sub_menu:nth-child(1) > .description{
    margin-top: 50px;
    top: calc(-51px * 1);
}
.nav_sub_menu:nth-child(2) > .description{
    margin-top: 50px;
    top: calc(-51px * 2);
}
.nav_sub_menu:nth-child(3) > .description{
    margin-top: 50px;
    top: calc(-51px * 3);
}
.nav_sub_menu:nth-child(4) > .description{
    margin-top: 50px;
    top: calc(-51px * 4);
}
.nav_sub_menu:nth-child(5) > .description{
    margin-top: 50px;
    top: calc(-51px * 5);
}
.nav_sub_menu:nth-child(6) > .description{
    margin-top: 50px;
    top: calc(-51px * 6);
}



  .navlist > .nav_item > .nav_menu > .nav_sub_menu:hover > .description{
    display: block;
  }

  .description > .description_tilte{
    font-size: var(--fs-700);
    text-align: right;
    position: relative;
    padding-right: 48px;
  }

  .description > .description_tilte::after{
    content: "";
    position: absolute;
    width: 95%;
    height: 2px;
    /* border: 1px solid red; */
    top: 55px;
    right: 24px;
    background: var(--clr-neutral-300);
  }

  .description > .description_txt{
    padding-top: 40px ;
    text-align: justify;
  }
  