
.container{
    margin-bottom: var(--size-700);
    margin-top: var(--size-700);
}
.contact_us_header {
    padding: var(--size-400) var(--size-700) var(--size-500) var(--size-700);
}

.contact_us_header >h2{
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-spacing-200) ;
}

@media screen and (min-width: 992px) {
    .contact_us_header >h2{
        font-size: var(--fs-750);
        letter-spacing: var(--letter-spacing-250) ;
    }
  }

@media screen and (min-width: 1024px) {
    .contact_us_header >h2{
        font-size: var(--fs-750);
        letter-spacing: var(--letter-spacing-300) ;
    }
}

@media screen and (min-width: 1440px) {
    .contact_us_header >h2{
        font-size: var(--fs-800);
        letter-spacing: var(--letter-spacing-300) ;
    }
}
/* .contact_us_header >h2{
    font-size: var(--fs-800);
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-spacing-300) ;
} */

.contacts{
    background: rgb(249, 248, 248);
    min-height: 200px;
    width: 100%;
}


.contacts > *{
    padding-left: var(--size-500);
    padding-right: var(--size-500);
}

/* @media only screen and (min-width: 425px) {
    .contacts > *{
        padding-left: var(--size-400);
        padding-right: var(--size-400);
    }  
} */
/* @media only screen and (min-width: 768px) {
    .contacts{
        display: flex;
    } 

} */

@media only screen and (min-width: 1024px) {
    .contacts{
        display: flex;
    } 
 
}

.contact_informations{
    padding-top: var(--size-900);
    padding-bottom: var(--size-900);
    background: var(--clr-neutral-800);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .contact_informations{
        border-radius: 10px 0px 0px 10px;
        width: 40%;
    }
}
@media only screen and (min-width: 1440px) {
    .contact_informations{
        /* border-radius: 10px 0px 0px 10px; */
        width: 50%;
    }
}

.infos{
    width: 100%;
    max-width: 425px;
}

.info_header{
    color: white;
    font-size: var(--fs-675);
    font-weight: var(--fw-semi-bold);
    letter-spacing: var(--letter-spacing-200);
    text-align: center;
    width: 100%;
}

.contact_info_items{
    margin-top: var(--size-700);
    margin-bottom: var(--size-700);
}

.contact_info_item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--size-500);
}

@media screen and (min-width: 425px) {
    .contact_info_item{
        gap: var(--size-600);
    }
  }

@media screen and (min-width: 768px) {
    .contact_info_item{
        gap: var(--size-700);
    }
}

@media screen and (min-width: 1024px) {
    .contact_info_item{
        gap: var(--size-500);
    }
}

.contact_info_item > p{
    color: white;
    letter-spacing: var(--letter-spacing-200);
}

.icon_container{
    object-fit: contain;
    min-width: 35px;
    width: fit-content !important;
    position: relative !important;
    height: 60px;
}


.social_links{
    display: flex;
    justify-content: center;
    gap: var(--size-500);
    margin-top: var(--size-700);
}

.social_icon_container{
    position: relative !important;
    width: 30px;
    min-height: 30px;
}


.input_container{
    padding-top: var(--size-500);
    padding-bottom: var(--size-500);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.input_title{
    font-size: var(--fs-650);
    font-weight: var(--fw-semi-bold);
}

.input_form{
    width: 100%;
    max-width: 700px;
}

.form_item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.form_item > input, .form_item > textarea {
    border: transparent;
    width: 100%;
    min-width: 32px;
    border-radius: 5px;
    padding: var(--size-500) var(--size-500);
    border-bottom: 1px solid var(--clr-primary-600);
}
._txt_or{
    text-align: center;
    padding-top: var(--size-200);
    font-size: var(--fs-500);
    margin-bottom: var(--size-nagative-400) ;
}
.form_item > label{
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
    padding-left: var(--size-500);
    letter-spacing: var(--letter-spacing-200);
    text-transform: uppercase;
    padding-top: var(--size-200);
    padding-bottom: var(--size-100);
}

.form_item > input{
    height: var(--size-300);
}

.form_item > textarea{
    min-height: var(--size-1400);
}

.form_item >button {
    margin-top: var(--size-400); 
    margin-left: auto;
    margin-right: var(--size-400);
}
