.footer{
    /* margin-top: var(--size-700); */
    background:var(--clr-neutral-800);

    /* border: 3px solid red; */
    width: 100%;
    /* min-height: 100px; */
    /* background: white; */
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0; */
    /* bottom: 0; */
    /* max-height: 100px; */
    /* min-height: 100px; */
    padding: var(--size-500) var(--size-000);
}

.container{
    /* border: 1px solid red; */

    min-height: inherit;
    /* padding-bottom: var(--size-700); */
    display: grid;
    grid-column-gap: var(--size-300);
    grid-template-columns: .4fr  .6fr 1fr .5fr;
    grid-template-rows:     1.2fr .5fr .5fr .5fr 1fr .7fr;

    grid-template-areas:    
                            "logo           .               site_map    up_navigation "
                            "logo           phone_info      site_map    up_navigation "
                            "logo           mail_info       site_map    up_navigation "
                            "logo           address         site_map    up_navigation "
                            "logo           social_links    site_map    up_navigation "
                            "logo           .               site_map    up_navigation "






                            
}

.logo{
    grid-area: logo;
    /* border: 1px solid red; */
}
.logo > .logo_image_container{
    /* border: 3px solid red; */
    height: 100%;
    width: 100%;
    
    position: relative;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
}
.logo_image_container > img{
    max-width: 200px;
    /* align-self: center; */
}

.address{
    grid-area: address;
    /* border: 3px solid red; */
    color: white;
}
.mail_info{
    grid-area: mail_info;
    color: white;
    /* border: 3px solid red; */
    /* margin-top:10px; */

}
.phone_info{
    grid-area: phone_info;
    color: white;
    /* border: 3px solid red; */
    /* max-height: 30px; */
    position: relative;
    margin-bottom: 0;
    /* max-height: 40px; */
}
/* .phone_info> p{
    border: 3px solid red;
    position: absolute;
    bottom: 0;
} */
.social_links{
    grid-area: social_links;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top:16px;
    margin-bottom:16px;
    margin-left: 16px;

    /* border: 1px solid red; */

}
.social_links > .social_icon_container{
    position: relative;
    min-height: 33px;
    min-width: 33px;

    /* border: 1px solid red; */

}
.site_map{
    grid-area: site_map;
 
    /* border: 1px solid red; */

}
.up_navigation{
    grid-area: up_navigation;
    min-width: 30%;
    /* border: 1px solid red; */
}

.copywrite{
    color: white;
    /* border: 1px solid red; */
    text-align: center;
    padding: var(--size-300) var(--size-000);

}

